version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    ports:
      - 0.0.0.0:8080:8080
      
  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
